.todo-app__actions-bar{
    grid-row: 3/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task-clear-completed{
    border: none;
    background: none;
    cursor: pointer;
    margin: 20px;
}

.task-clear-completed:active,
.task-clear-completed:focus,
.task-clear-completed:hover{
    border:1px solid #EBDFDF;
    border-radius: 3px;
    /*-webkit-focus-ring-color: #EBDFDF;*/
}

.task-filter__input{
    opacity: 0;
    position: absolute ;

}

.task-filter__input:checked ~ .task-filter__text{
    border-color: #EBDFDF;
}

.task-filter__item{
    /*border: 2px solid #E6E6E6;
    border-radius: 2px;
    padding: 3px;*/
    outline: none;
    padding: 0.3em;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #000;
    text-decoration: none;
    cursor: pointer;

}

.task-filter__text{
    text-align: center;
    padding:2px 5px 2px 5px;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 3px;

}

.task-counter{
    margin: 20px;
}

